.container, .login{
    text-align: center;
}

.button {
    display: inline-block;
    padding: .3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all .2s;
    background-color: #0076BC; 
    }
    .button:hover {
        background-color: rgb(3, 90, 141);
    }

.chat, .login{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.user, .bot {
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    margin-top: 1em; 
    margin-right: 1em;
    display: inline;
    float: right;
}

.user {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    background-color: slategrey;
    padding-top: 1em;
}

.bot {
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em; 
    background-color: #0076BC;
}

.historyContainer {
    padding-bottom: 3em;
    max-height: 30em;
    overflow-y:auto;
}

#chatbox, .loginbox {
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    height: 20px;
    width: 400px;
    padding-top: 5em;
}
.ReactTable{
    width: 650px;
    justify-content: center;
}

.database {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    text-align: center;
}

.databaseWrapper {
    text-align: center;
}

p {
    font-weight: bold;
}

#dbButton1, #dbButton2 {
    margin-right: 2em;
}