body {
    background-color: rgb(112,128,144);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;
}

.footer-container {
	font-size: 1.5em;
    text-align: center;
    position: relative;
    left:0;
    bottom:0px;
    width:100%;
    flex-shrink: 0;
}

/* Media Queries */

@media (min-width: 300px){  /*small vertical phones*/
}

@media (min-width: 769px){	/*small desktop size*/
}

@media (min-width: 1025px) {
}

